<script id="supervisor-summary-template" type="text/html">
    <table class="table table-striped compact" id="supervisor-summary-table">
      <thead>
        <tr>
          <th>
            <span data-toggle="tooltip" data-placement="right" title="A unique identifier given to a Supervisor when it joins the cluster.">
              Id
            </span>
          </th>
          <th>
            <span data-toggle="tooltip" data-placement="above" title="The hostname reported by the remote host. (Note that this hostname is not the result of a reverse lookup at the Nimbus node.)">
              Host
            </span>
          </th>
          <th>
            <span data-toggle="tooltip" data-placement="above" title="The length of time a Supervisor has been registered to the cluster.">
              Uptime
            </span>
          </th>
          <th>
            <span data-toggle="tooltip" data-placement="above" title="Slots are Workers (processes).">
              Slots
            </span>
          </th>
          <th>
            <span data-toggle="tooltip" data-placement="left" title="Slots are Workers (processes).">
              Used slots
            </span>
          </th>
          {{#schedulerDisplayResource}}
          <th>
            <span data-toggle="tooltip" data-placement="above" title="Memory capacity of a supervisor.">
              Total Mem (MB)
            </span>
          </th>
          {{/schedulerDisplayResource}}
          <th>
            <span data-toggle="tooltip" data-placement="left" title="Memory that has been allocated.">
              Used Mem (MB)
            </span>
          </th>
          {{#schedulerDisplayResource}}
          <th>
            <span data-toggle="tooltip" data-placement="above" title="CPU capacity of a supervisor. Every 100 means one core.">
              Total CPU (%)
            </span>
          </th>
          <th>
            <span data-toggle="tooltip" data-placement="left" title="CPU that has been allocated. Every 100 means one core">
              Used CPU (%)
            </span>
          </th>
          {{/schedulerDisplayResource}}
          <th>
            <span data-toggle="tooltip" data-placement="left" title="Version">
              Version
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
      {{#supervisors}}
          <tr>
            <td><a href="/supervisor.html?id={{id}}">{{id}}</td>
            <td><a href="/supervisor.html?host={{host}}">{{host}}</a></td>
            <td>{{uptime}}</td>
            <td>{{slotsTotal}}</td>
            <td>{{slotsUsed}}</td>
            {{#schedulerDisplayResource}}
            <td>{{totalMem}}</td>
            {{/schedulerDisplayResource}}
            <td>{{usedMem}}</td>
            {{#schedulerDisplayResource}}
            <td>{{totalCpu}}</td>
            <td>{{usedCpu}}</td>
            {{/schedulerDisplayResource}}
            <td>{{version}}</td>
          </tr>
      {{/supervisors}}
      </tbody>
    </table>
</script>
<script id="worker-stats-template" type="text/html">
  <table class="table table-striped compact" id="worker-stats-table">
    <thead>
      <tr>
        <th class="header headerSortDown">
          <span data-toggle="tooltip" data-placement="right" title="The name given to the topology by when it was submitted. Click the name to view the Topology's information.">
            Name
          </span>
        </th>
        <th class="header">
          <span data-original-title="The hostname reported by the remote host. (Note that this hostname is not the result of a reverse lookup at the Nimbus node.)" data-toggle="tooltip" data-placement="right">
            Host
          </span>
        </th>
        <th class="header">
          <span data-toggle="tooltip" data-placement="above" title="The port number used by the Worker. Click on the port number to open the logviewer page for this Worker.">
            Port 
          </span>
        </th>
        <th class="header">
          <span data-toggle="tooltip" data-placement="above" title="The length of time a Worker has been alive.">
            Uptime
          </span>
        </th>
        <th class="header">
          <span data-toggle="tooltip" data-placement="above" title="The number of executors">
            Num executors
          </span>
        </th>
        <th class="header">
          <span data-toggle="tooltip" data-placement="above" title="Assigned Total Memory by Scheduler.">
            Assigned Mem (MB)
          </span>
        </th>
        {{#schedulerDisplayResource}}
        <th class="header">
          <span data-toggle="tooltip" data-placement="above" title="Assigned Total CPU by Scheduler. Every 100 means 1 core.">
            Assigned CPU (%)
          </span>
        </th>
        {{/schedulerDisplayResource}}
        <th class="header">
          <span data-toggle="tooltip" data-placement="left" title="The components running in this worker">
            Components
          </span>
        </th>
    </tr></thead>
    <tbody>
    </tbody>
</script>
